# basic config file for shoal phantom decision engine
[general]
USER              = alice
PASSWORD          = alicepassword
DOMAIN            = shoalTestDomain
LAUNCH_CONFIG     = shoalTestConfig
VM_IMAGE          = squidTest
VM_IMAGE_TYPE     = m1.large
KEY               = phantomkey
CLOUDS            = ["hotel"]
SHOAL_SERVER      = localhost:8080/nearest
RABBIT_MQ_IP      = localhost
RABBIT_MQ_PORT    = 5671
MIN_VMS           = 1
MAX_VMS           = 5
SCALE_DOWN_THRESH = 0
SCALE_DOWN_AMOUNT = 0
SCALE_UP_THRESH   = -1
SCALE_UP_AMOUNT   = 1
UPDATE_INTERVAL   = 60
# seconds
