$def with (shoal, squid_active_time, now)
<div class="row-fluid">
    <div class="row">
        <div class="span6 offset3" style="text-align:center">
            <h2>List of Active Squids</h2>
            $if len(shoal) > 0:
                <h5 class="text-success">$len(shoal) active in the last $squid_active_time seconds</h5>
            $else:
                <h5 class="text-info">None active in the last $squid_active_time seconds</h5>
        </div>
    </div>
    <div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>#</th>
                <th>Public IP</th>
                <th>Private IP</th>
                <th>Bytes Out</th>
                <th>City</th>
                <th>Region</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Last Received</th>
                <th>Alive</th>
            </tr>
            $for i,squid in enumerate(shoal):
                $ last_msg = int(now - squid.last_active)
                $ alive_time = int(now - squid.created); 
                $ time_metric = 's'
                $ hour = int(alive_time/60/60)
                $ minute = (alive_time/60)
                $ second = alive_time - hour*60*60 - minute*60

                $if last_msg < squid_active_time/3:
                    $ state = 'success'
                $elif last_msg >= squid_active_time/3 and last_msg < squid_active_time*2/3:
                    $ state = 'warning'
                $else:
                    $ state = 'error'

                <tr class='$state'>
                    <td><span class="badge badge-$state">$(i+1)</td>
                    <td>$squid.public_ip</td>
                    <td>$squid.private_ip</td>
                    <td>$squid.load kB/s</td>
                    <td>$squid.geo_data['city']</td>
                    <td>$squid.geo_data['region_name']</td>
                    <td>$squid.geo_data['country_name']</td>
                    <td>$squid.geo_data['latitude']</td>
                    <td>$squid.geo_data['longitude']</td>
                    <td>$(last_msg)s</td>
                    <td>$(hour)h$(minute)m$(second)s</td>
                </tr>
            </table>
        </div>
</div>
