$def with (ACTIVE_TIME, now)
<div class="row-fluid">
    <div class="row">
        <div class="span6 offset3" style="text-align:center">
            <h2>List of Active Squids</h2>
            <h5 class="text-success">$len(shoal) active in the last $ACTIVE_TIME seconds</h5>
        </div>
    </div>
    <div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>#</th>
                <th>IP</th>
                <th>Load</th>
                <th>Hostname</th>
                <th>City</th>
                <th>Region</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Received</th>
            </tr>
            $for i,squid in enumerate(shoal.values()):
                $ time_diff = now - squid.last_active
                $if time_diff < 60:
                    <tr class='success'>
                        <td><span class="badge badge-success">$i</td>
                $elif time_diff > 60 and time_diff < 120:
                    <tr class='warning'>
                        <td><span class="badge badge-warning">$i</td>
                $else:
                    <tr class='error'>
                        <td><span class="badge badge-error">$i</td>
                <td>$squid.key</td>
                <td>$squid.data['load']</td>
                <td>$squid.data['hostname']</td>
                <td>$squid.data['city']</td>
                <td>$squid.data['region_name']</td>
                <td>$squid.data['country_name']</td>
                <td>$squid.data['latitude']</td>
                <td>$squid.data['longitude']</td>
                <td>$time_diff ago</td>
            </tr>
        </table>
    </div>
</div>
