$def with (shoal, ACTIVE_TIME, now)
<div class="row-fluid">
    <div class="row">
        <div class="span6 offset3" style="text-align:center">
            <h2>List of Active Squids</h2>
            <h5 class="text-success">$len(shoal) active in the last $ACTIVE_TIME seconds</h5>
        </div>
    </div>
    <div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>#</th>
                <th>Public IP</th>
                <th>Private IP</th>
                <th>Bytes In</th>
                <th>Bytes Out</th>
                <th>City</th>
                <th>Region</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Last Received</th>
                <th>Alive</th>
            </tr>
            $for i,squid in enumerate(shoal):
                $ time_diff = int(now - squid.last_active)
                $ alive_time = int(now - squid.created); 
                $ time_metric = 's'
                $if alive_time/60 > 1: 
                    $ alive_time = int(alive_time/60)
                    $ time_metric = 'm'
                $if time_diff < ACTIVE_TIME/3:
                    <tr class='success'>
                        <td><span class="badge badge-success">$i</td>
                $elif time_diff > ACTIVE_TIME/3 and time_diff < ACTIVE_TIME*2/3:
                    <tr class='warning'>
                        <td><span class="badge badge-warning">$i</td>
                $else:
                    <tr class='error'>
                        <td><span class="badge badge-error">$i</td>
                <td>$squid.public_ip</td>
                <td>$squid.private_ip</td>
                <td>$squid.load['in'] kB/s</td>
                <td>$squid.load['out'] kB/s</td>
                <td>$squid.geo_data['city']</td>
                <td>$squid.geo_data['region_name']</td>
                <td>$squid.geo_data['country_name']</td>
                <td>$squid.geo_data['latitude']</td>
                <td>$squid.geo_data['longitude']</td>
                <td>$(time_diff)s</td>
                <td>$(alive_time)$time_metric</td>
            </tr>
        </table>
    </div>
</div>
