$def with (items, ACTIVE_TIME)

<div class="row-fluid">
    <div class="row">
        <div class="span6 offset3" style="text-align:center">
            <h2>List of Active Squids</h2>
            <h5 class="text-success">$len(items) active in the last $ACTIVE_TIME seconds</h5>
        </div>
    </div>
    <div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>#</th>
                <th>IP</th>
                <th>Load</th>
                <th>Hostname</th>
                <th>City</th>
                <th>Region</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Sent</th>
            </tr>
            $for num, item in enumerate(items):
            <tr>
                <td><span class="badge badge-success">$num</td>
                <td>$item</td>
                <td>$items[item]['load']</td>
                <td>$items[item]['hostname']</td>
                <td>$items[item]['city']</td>
                <td>$items[item]['region_name']</td>
                <td>$items[item]['country_name']</td>
                <td>$items[item]['latitude']</td>
                <td>$items[item]['longitude']</td>
                <td>$items[item]['timestamp']</td>
            </tr>
        </table>
    </div>
</div>
