<!DOCTYPE html>
<html lang="en">
  <head>
    <!--      <meta http-equiv="refresh" content="30" />-->
      <meta charset="utf-8">
    <title>
      Shoal | Realtime Squid Monitoring System
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="{{ static_url('js/dataTables.bootstrap.js') }}"></script>
    <link href="{{ static_url("img/icons/favicon.ico") }}" rel="shortcut icon" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ static_url('css/dataTables.bootstrap.css') }}" rel="stylesheet">
  {% block head %}
  {% end %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='#'>Shoal</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Latest</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Services
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/wpad.dat"><i class="icon-file"></i> WPAD file</a></li>
                <li><a href="/nearest"><i class="icon-file"></i> Nearest</a></li>
             </ul>
           </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row-fluid">
      {% block body %}
      {% end %}
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span12">
          <footer id="footer" style="text-align:center">
            <div>
              &copy; University of Victoria  ||  <a href="http://github.com/hep-gc/shoal">Visit GitHub Project</a><i class="icon-hand-up"></i>
            </div>
          </footer>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>

