$def with (page, title='Shoal | Realtime Squid Monitoring System')
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="refresh" content="30" />
      <meta charset="utf-8">
    <title>
        $if title:$title\
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"> 
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .dropdown-submenu {
        position: relative;
      }

      .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
      }
    </style>
    <link href="/static/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <script src="/static/js/jquery.min.js"></script>
    <script>
      $$(document).ready(function(){
        $$('.dropdown-submenu a.test').on("click", function(e){
          $$(this).next('ul').toggle();
          $e.stopPropagation();
          $e.preventDefault();
        });
      });
    </script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <a class="navbar-brand" href='#'>Shoal</a>
          <div class="navbar-collapse collapse" id="mynavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Latest</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Services
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/wpad.dat"><span class="glyphicon glyphicon-file"></span> WPAD file</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#" class="test"><span class="glyphicon glyphicon-th-list"></span> Nearest Squid</a>
                    <ul class="dropdown-menu">
                      <li><a href="/nearest/1"><span class="glyphicon glyphicon-play"></span> Return 1</a></li>
                      <li><a href="/nearest/10"><span class="glyphicon glyphicon-forward"></span> Return 10</a></li>
                      <li><a href="/nearest/100"><span class="glyphicon glyphicon-fast-forward"></span> Return 100</a></li>
                    </ul>
                  </li>
               </ul>
             </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        $:page
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <footer id="footer" style="text-align:center">
            <div>
              &copy; University of Victoria  ||  <a href="http://github.com/hep-gc/shoal">Visit GitHub Project</a><span class="glyphicon glyphicon-hand-up"></span>
            </div>
            <div>
              <small class='text-muted'>Shoal-Server v$version</small>
            </div>
          </footer>
        </div>
      </div>
    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>

