$def with (now, total, shoal, page, pages, size)
<!DOCTYPE html>
<html>
<head>
<script src="/static/js/jquery.min.js"></script>
<script>
$$(document).ready(function () {
    $$(".squid-list").each(function (index) {
        $$(".squid-row"+index).on('click', function(){
            $$(".squid-panel"+index).toggle();
        });
    });
});

$$(document).ready(function () {
    $$.fn.compareNumberList = function(list1, list2, order) {
        var length2 = list2.length;
        var flag = order == 1 ? -1 : 1;
	for(let i = 0; i < list1.length; i++) {
	    if (i < length2) {
	        var n = list1[i];
	        var m = list2[i];
		if ((m !== 0 && !m) || n - m > 0) {
		    flag = order == 1 ? 1 : -1;
	 	    break;
	        }
	        if ((n !== 0 && !n) || n - m < 0) {
		    flag = order == 1 ? -1 : 1;
	            break;
		}
	    }
	}
	return flag;
    }
    $$.fn.getNumberList = function(data, mark) {
        var data_list = data.split(mark);
        data_list = data_list.map(d => parseFloat(d));
        return data_list;
    };
    $$('th').each(function (col) {
        $$(this).click(function () {
            if ($$(this).is('.asc')) {
                $$(this).removeClass('asc');
                $$(this).addClass('desc selected');
                sortOrder = -1;
            } else {
                $$(this).addClass('asc selected');
                $$(this).removeClass('desc');
                sortOrder = 1;
            }
            $$(this).siblings().removeClass('asc selected');
            $$(this).siblings().removeClass('desc selected');
            var title = $$(this).text().toUpperCase();
            var arrData = $$('table').find('tbody>tr.squid-list:has(td)').get();
            arrData.sort(function (a, b) {
                var val1 = $$(a).children('td').eq(col).text().toUpperCase();
                var val2 = $$(b).children('td').eq(col).text().toUpperCase();
                if (title == 'BYTES OUT') {
                    val1 = val1.split(' ')[0];
                    val2 = val2.split(' ')[0];
                }
		if (title == 'LAST RECEIVED') {
                    val1 = val1.slice(0,-1);
                    val2 = val2.slice(0,-1);
                }
                if (title == 'PUBLIC IP' || title == 'PRIVATE IP') {
                    val1 = $$.fn.getNumberList(val1, '.');
		    val2 = $$.fn.getNumberList(val2, '.');
		}
		if (title == 'ALIVE') {
		    val1 = $$.fn.getNumberList(val1, /[a-zA-Z]/).slice(0,-1);
		    val2 = $$.fn.getNumberList(val2, /[a-zA-Z]/).slice(0,-1);
		}
                if ($$.isNumeric(val1) && $$.isNumeric(val2)) {
                    return sortOrder == 1 ? parseFloat(val1) - parseFloat(val2) : parseFloat(val2) - parseFloat(val1);
                }
		else if ($$.isArray(val1) && $$.isArray(val2)) {
		    return $$.fn.compareNumberList(val1, val2, sortOrder);
		}
		else {
                    return (val1 < val2) ? -sortOrder : (val1 > val2) ? sortOrder : 0;
		}
            });
            $$.each(arrData, function (index, row) {
                $$('tbody').append(row);
                var rowClass = $$(row).attr('class');
                var rowNumber = rowClass.match(/\d+/g)[0];
                var rowFind = 'tbody>tr.squid-panel' + rowNumber;
                var panelRow = $$('table').find(rowFind).get()[0];
                $$('tbody').append(panelRow);
            });
      });
  });
});
</script>
</head>
<body>


<div class="row" style="padding-left: 5%; padding-right: 5%;">
    <div class="col-md-6 col-md-offset-3" style="text-align:center">
        <h2>List of Active Caches</h2>
        $if total > 0:
            <h5 class="text-success">$total active in the last $squid_active_time seconds</h5>
        $else:
            <h5 class="text-info">None active in the last $squid_active_time seconds</h5>
        </div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Hostname</th>
          <th class="hidden-xs">Public IP</th>
          <th class="hidden-xs">Private IP</th>
	  <th>Port</th>
	  <th>Cache</th>
          <th>Upstream</th>
          <th>Bytes Out</th>
          <th>City</th>
          <th class="hidden-xs">Country</th>
          <th class="hidden-xs">Latitude</th>
          <th class="hidden-xs">Longitude</th>
          <th class="hidden-xs">Last Received</th>
          <th>Alive</th>
          <th>Clock Sync</th>
          <th>Access Level</th>
       </tr>
      </thead>
      <tbody>
        $for i,cache in enumerate(shoal):
            $ last_msg = int(now - cache.last_active)
            $ alive_time = int(now - cache.created); 
            $ hour = int(alive_time/60/60)
            $ minute = int((alive_time - hour*60*60) / 60)
            $ second = int(alive_time - hour*60*60 - minute*60)
    
            $if last_msg < squid_active_time/3:
                $ state = 'success'
            $elif last_msg >= squid_active_time/3 and last_msg < squid_active_time*2/3:
                $ state = 'warning'
            $else:
                $ state = 'danger'
            $if cache.global_access == True:
                $ access = 'Global'
            $else:
                $ access = 'Private'
            $if not cache.verified and cache.allow_verification == True:
                $ state = 'warning'
            $if cache.drift_detected == True:
                $ state = 'danger'
            <tr class="$state squid-row$i squid-list">
                <td><span class="badge badge-$state">$((i+1)+(page-1)*size)</td>
                <td>$cache.hostname</td>
                <td class="hidden-xs">$cache.public_ip</td>
                <td class="hidden-xs">$cache.private_ip</td>
                <td>$cache.squid_port</td>
	        <td>$cache.cache_type</td>
                <td>$cache.upstream</td>
		<td>$float("{:.3f}".format(cache.load)) kB/s</td>
                <td>$cache.geo_data.city.name</td>
                <td class="hidden-xs">$cache.geo_data.country.name</td>
                <td class="hidden-xs">$cache.geo_data.location.latitude</td>
                <td class="hidden-xs">$cache.geo_data.location.longitude</td>
                <td class="hidden-xs">$(last_msg)s</td>
                <td>$(hour)h$(minute)m$(second)s</td>
                $if cache.drift_detected == True:
                    <td style="text-align: center;"><b>$("%.1fs" % cache.drift_time)</b></td>
                $else:
                    <td style="text-align: center;">✔</td>
                <td>$access</td>
            </tr>
            <tr class="$state squid-panel$i" style="display:none">
                <td colspan="14">$cache.error</td>
            </tr>
      </tbody>
    </table>
  </div>
</div>
$if size != 0 and pages > 1:
  <div class="row">
    <div class="col-md-1">
      <a href="/0">Show All</a>
    </div>
  </div>
$if pages > 1:
  <div class="row">
    <div class="col-md-12">
      <div class="pagination pagination-centered">
        <ul>
        $if page == 1:
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="disabled"><a href="#">&lsaquo;</a></li>
        $else:
          <li><a href="?page=1">&laquo;</a></li>
          <li><a href="?page=$(page-1)">&lsaquo;</a></li>
        $if pages < 10:
          $for p in range(pages):
            $if p+1 == page:
              <li class="active"><a href="#">$(p+1)</a></li>
            $else:
              <li><a href="?page=$(p+1)">$(p+1)</a></li>
        $else:
          $ lower = 0
          $ upper = page + 3
          $if page > 5 and page <= pages:
            $ lower = page - 4 
            $ upper = page + 3
          $if page > pages - 5 and page <= pages:
            $ lower = page - 4
            $ upper = pages
          $for p in range(lower,upper):
            $if p+1 == page:
              <li class="active"><a href="#">$(p+1)</a></li>
            $else:
              <li><a href="?page=$(p+1)">$(p+1)</a></li>
          $if page < (pages - 5):
            <li><span>...</span></li>
            $for p in range(pages-2,pages):
              <li><a href="?page=$(p+1)">$(p+1)</a></li>
        $if page == pages:
          <li class="disabled"><a href="#">&rsaquo;</a></li>
          <li class="disabled"><a href="#">&raquo;</a></li>
        $else:
          <li><a href="?page=$(page+1)">&rsaquo;</a></li>
          <li><a href="?page=$pages">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
